<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.MentorNook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MentorNook</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <!-- Set the starting page -->
    <content src="index.html" />

    <!-- Allow navigation -->
    <allow-navigation href="*" />

    <!-- Allow intent -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
