<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.MentorNook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MentorNook</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
   <platform name="android">
    <preference name="AutoHideSplashScreen" value="true" />   
    <preference name="SplashScreenDelay" value="10" />
    <preference name="SplashScreen" value="res/screen/android/splash-screen.png"/>   
    <preference name="FadeSplashScreen" value="false"/>     
    <splash src="res/screens/android/drawable-hdpi-screen.png" density="hdpi"/>
    <splash src="res/screens/android/drawable-mdpi-screen.png" density="mdpi"/>
    <splash src="res/screens/android/drawable-xhdpi-screen.png" density="xhdpi"/>
    <splash src="res/screens/android/drawable-xxhdpi-screen.png" density="xxhdpi"/>
    <splash src="res/screens/android/drawable-xxxhdpi-screen.png" density="xxxhdpi"/>
    <icon src="res/icon/android/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="res/icon/android/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="res/icon/android/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
</platform>

</widget>
